/* FAQ.css */
.faq-section {
    text-align: center;
    padding: 2rem;
    padding-bottom: 5rem;
    background: linear-gradient(204deg, rgba(12, 12, 29, 1) 14%, rgb(16, 66, 85) 81%);
    padding-top: 4rem;
}

@media screen and (max-width: 768px) {
    .faq-section {
        padding: 6rem 0;
    }
    .name-faqs {
        font-size: 4rem !important;
    }
    .info-faqs {
        padding-bottom: 3.5rem !important;
    }
    .learn-faqs {
        font-size: 2rem;
    }
    .faq-question {
        font-size: 1.5rem !important;
        height: 8rem !important;
    }
}

.info-faqs {
    padding-bottom: 2rem;
}

.name-faqs {
  font-size: 3rem;
  color: #cee8ff;
  padding-bottom: 1rem;
}

.learn-faqs {
    color: #4675b8;
}

.faq-list {
    list-style: none;
    padding: 0;
}

.faq-item {
    overflow: hidden;
    transition: height 0.3s ease-out; /* Ajusta la duración y la función de temporización según tus preferencias */
  }
  
  .faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out; /* Ajusta la duración y la función de temporización según tus preferencias */
  }
  
  .faq-answer.show {
    max-height: 1000px; /* Ajusta la altura máxima según tus necesidades o establece un valor lo suficientemente grande para manejar todas las respuestas posibles */
  }
.faq-item {
    margin-bottom: 2rem;
    padding: 0 5rem;
}

.faq-question {
    cursor: pointer;
    display: flex;
    background: transparent !important;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6rem;
    text-align: left;
    border: none;
    color: white;
    font-size: 1.3rem;
    border-bottom: 1px solid gray;
}

.faq-question:hover {
    background-color: #0a345f;
}

.icon {
    font-size: 1.6rem;
    margin-left: 0.5rem;
    color: rgb(0, 191, 209);
}

.open {
    transform: rotate(45deg);
}

.faq-answer {
    padding: 0.5rem;
    display: none;
    color: white;
}

.faq-answer.show {
    display: block;
    text-align: justify;
    font-size: 1.1rem;
    padding-top: 1rem;
}