/* FAQ.css */
.faq-section {
    background: linear-gradient(155deg, rgba(0,4,12,1) 40%, #1F3475 100%);

}

.faq-wrapp {
    width: 75rem;
    height: auto;
    margin: 0 auto;
    padding: 3rem 0;
}

@media screen and (max-width: 1250px) {
    .faq-question {
        margin: 0 auto;
    }
    .faq-wrapp {
        width: auto;
    }
    .faq-list {
        margin: 0 3rem;
    }
}

.info-faqs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.name-faqs {
    font-size: 2rem;
    color: #ffffff;
    text-decoration: underline;
}

.learn-faqs {
    color: #ffffff;
}

.faq-list {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
}

.faq-answer {
    max-height: 0;
    transition: max-height 0.3s ease-out;
}


/* .faq-item {
} */

.faq-question {
    cursor: pointer;
    display: flex;
    background: transparent !important;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6rem;
    text-align: left;
    border: none;
    color: white;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    border-bottom: .5px solid gray;
}

.faq-question:hover {
    background-color: #0a345f;
}

.icon {
    font-size: 1.6rem;
    margin-left: 0.5rem;
}

.open {
    transform: rotate(88deg);
}

.faq-answer {
    padding: 0.5rem;
    display: none;
    color: white;
}

.faq-answer.show {
    display: block;
    text-align: justify;
    font-size: .96rem;
    padding-top: 1.3rem;
    max-height: 62rem;
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 768px) {
    .name-faqs {
        font-size: 3.3rem;
    }
    .learn-faqs {
        font-size: 2rem;
    }
    .faq-question {
        font-size: 1.9rem;
        height: 10rem;
    }
    .faq-answer.show {
        font-size: 1.5rem !important;
    }
}

@media screen and (max-width: 600px) {
    .name-faqs {
        font-size: 3.5rem;
    }
    .learn-faqs {
        font-size: 2.2rem;
    }
    .faq-question {
        font-size: 2.2rem;
        height: 13rem;
    }
    .faq-answer.show {
        font-size: 1.8rem !important;
    }
}

@media screen and (max-width: 430px) {
    .faq-wrapp {
        width: 88rem;
    }
    .name-faqs {
        font-size: 6rem;
    }
    .learn-faqs {
        font-size: 3rem;
    }
    .info-faqs {
        row-gap: 2.5rem;
    }
    .faq-question {
        font-size: 3rem;
        height: 20rem;
    }
    .faq-answer.show {
        font-size: 2.5rem !important;
    }
}

