.about-wrapper {
    background-color: rgb(224, 253, 237);
}

.about-container {
    width: 75rem;
    height: 30rem;
    margin: 0 auto;
}

.top-container {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-about {
    font-size: 2rem;
    color: white;
}

/* Items */

.bot-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.contenedor-3d {
    perspective: 1000px; /* Define la perspectiva para el efecto 3D */
  }
  
  .imagen-3d {
    width: 300px;
    height: 200px; /* Ajusta el ancho según sea necesario */
    transition: transform 0.5s, box-shadow 0.5s; /* Agrega transiciones para un efecto suave al pasar el mouse */
  }
  
  .imagen-3d:hover {
    transform: rotateY(10deg) rotateX(-10deg) scale(1.1); /* Aplica la transformación en el hover */
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3); /* Agrega un sombreado al pasar el mouse */
    scale: 1.02;
  }
  
