.about-wrapper {
    background-color: rgb(100, 149, 172);
}

.about-container {
    width: 75rem;
    margin: 0 auto;
}

.top-container {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-about {
    font-size: 2rem;
    color: white;
}

/* Items */

.bot-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

#imagen-3d {
    width: 330px;
    height: 470px;
    transition: transform 0.1s, box-shadow 0.2s;
    overflow: hidden;
}

#imagen-3d:hover {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 5);
}