.bars__menu {
    height: 30px;
    cursor: pointer;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bars__menu .line1__bars-menu {
    display: block;
    width: 25px;
    height: 2px;
    background-color: #fff;
    transition: all 500ms;
    transform-origin: 0px 100%;

}

.bars__menu .line2__bars-menu {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #fff;
    transition: all 500ms;
    margin-top: 6px;
    transform-origin: 0px 100%;

}

.bars__menu .line3__bars-menu {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #fff;
    transition: all 500ms;
    margin-top: 6px;
    transform-origin: 0px 100%;
}

.active .line1__bars-menu {
    transform: rotate(45deg)
    translate(-2px, 1px);
    width: 30px;
}

.active .line2__bars-menu {
    opacity: 0;
    margin-left: -30px;
}

.active .line3__bars-menu {
    transform: rotate(-45deg)
    translate(-4px, 2px);
    width: 30px;
}