.blog-wrapper {
    background-color: rgb(0, 4, 12);
    color: white;
    position: relative;
}

.blog-container {
    width: 75rem;
    height: 37rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 3rem;
}

.bot-blog {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    position: relative;
}

.container-logo_aws {
    display: flex;
    justify-content: end;
}

.position-aws {
    width: 15rem;
    height: 8rem;
}

.cards-blog {
    width: 34.6875rem;
    height: 22.5rem;
    background-color: #041029;
    padding: 1rem;    
    background: linear-gradient(to bottom, #041029 20%, #000000 90%);
    transition: background 1s ease !important;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.cards-blog:hover {
    background: linear-gradient(to bottom, #041029 20%, #000000 80%);
}



.details {
    display: flex;
    align-items: start;
    flex-direction: column;
    row-gap: 1.3rem;
    padding: 2rem;
}

.link-blog {
    font-size: 1.7rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.date-blog {
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

.link-blog:hover {
    text-decoration: underline;
}

.fade-2 {
    position: absolute;
    right: 0;
    top: -25rem;
    width: 20rem;
    height: 70rem;
}

@media screen and (max-width: 1024px) {
    .title-blog {
        font-size: 2.3rem;
    }
    .blog-container {
        width: 82rem;
    }
    .cards-blog {
        width: 37.5rem;
    }
    .link-blog {
        font-size: 1.9rem;
    }
    .date-blog {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    .title-blog {
        text-align: center;
        font-size: 3rem;
    }
    .blog-container {
        width: 82rem;
        height: 44rem;
        gap: 4rem;
    }
    .cards-blog {
        width: 36.8rem;
        height: 25rem;
    }
    .link-blog {
        font-size: 1.9rem;
    }
    .date-blog {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 500px) {
    .title-blog {
        text-align: center;
        font-size: 4rem;
    }
    .bot-blog {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }
    .blog-container {
        width: 70rem;
        height: 113rem;
        gap: 4.5rem;
    }
    .cards-blog {
        width: 64rem;
        height: 44rem;
    }
    .details {
        gap: 2rem;
    }
    .position-aws {
        width: 27rem;
        height: 15rem;
    }
    .link-blog {
        font-size: 3rem;
    }
    .date-blog {
        font-size: 2rem;
    }
    
}

@media screen and (max-width: 425px) {
    .title-blog {
        text-align: center;
        font-size: 6rem;
    }
    .bot-blog {
        flex-direction: column;
        align-items: center;
        gap: 6rem;
    }
    .blog-container {
        width: 100%;
        height: 155rem;
        gap: 7rem;
    }
    .cards-blog {
        width: 96rem;
        height: 60rem;
    }
    .details {
        gap: 4rem;
        padding: 4rem;
    }
    .position-aws {
        width: 45rem;
        height: 24rem;
    }
    .link-blog {
        font-size: 5rem;
    }
    .date-blog {
        font-size: 3.2rem;
    }
    
}

