.blog-wrapper {
    background-color: rgb(0, 4, 12);
    color: white;
    position: relative;
}

.blog-container {
    height: 37rem;
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    align-items: center;
}

.blog-container .wraper-container {
}

.bot-blog {
    padding-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    position: relative;
}

.container-logo_aws {
    display: flex;
    justify-content: end;
}

.position-aws {
    width: 15rem;
    height: 8rem;
}

.cards-blog {
    width: 34.6875rem;
    height: 22.5rem;
    background-color: #041029;
    padding: 1rem;    
    background: linear-gradient(to bottom, #041029 20%, #000000 90%);
    transition: background 1s ease !important;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.cards-blog:hover {
    background: linear-gradient(to bottom, #041029 20%, #000000 80%);
}



.details {
    display: flex;
    align-items: start;
    flex-direction: column;
    row-gap: 1.3rem;
    padding: 2rem;
}

.link-blog {
    font-size: 1.7rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.date-blog {
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

.link-blog:hover {
    text-decoration: underline;
}

.fade-2 {
    position: absolute;
    right: 0;
    top: -25rem;
    width: 20rem;
    height: 70rem;
}

@media screen and (max-width: 1250px) {
    .cards-blog {
        width: 33rem;
    }
    .title-blog {
        margin: 0 auto;
    }
}

@media screen and (max-width: 1200px) {
    .cards-blog {
        width: 31rem;
    }
}

@media screen and (max-width: 1150px) {
    .cards-blog {
        width: 30rem !important;
    }
    .bot-blog {
        justify-content: center !important;
    }
}

@media screen and (max-width: 1100px) {
    .cards-blog {
        width: 27rem !important;
    }
}


@media screen and (max-width: 1024px) {
    .title-blog {
        font-size: 2.3rem;
    }
    .cards-blog {
        width: 35rem !important;
    }
    .link-blog {
        font-size: 1.9rem;
    }
    .date-blog {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 931px) {
    .cards-blog {
        width: 28rem !important;
    }
}

@media screen and (max-width: 768px) {
    .bot-blog {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }
    .title-blog {
        text-align: center;
        font-size: 3rem;
    }
    .blog-container {
        height: 105rem;
        gap: 4rem;
    }
    .cards-blog {
        width: 67rem !important;
        height: 45rem;
        justify-content: space-around;
    }
    .link-blog {
        font-size: 25px;
    }
    .date-blog {
        font-size: 18px;
    }
    .position-aws {
        width: 250px;
        height: 100px;
    }
    .fade-2 {
        width: 30rem;
        height: 80rem;
    }
}

@media screen and (max-width: 600px) {
    .cards-blog {
        width: 64rem !important;
    }
}

@media screen and (max-width: 500px) {
    .title-blog {
        text-align: center;
        font-size: 4rem;
    }
    .bot-blog {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }
    .blog-container {
        height: 113rem;
        gap: 4.5rem;
    }
    .cards-blog {
        width: 60rem !important;
        height: 44rem;
    }
    .details {
        gap: 2rem;
    }
    .position-aws {
        width: 27rem;
        height: 15rem;
    }
    .link-blog {
        font-size: 3rem;
    }
    .date-blog {
        font-size: 2rem;
    }
    
}

@media screen and (max-width: 430px) {
    .title-blog {
        text-align: center;
        font-size: 6rem;
    }
    .bot-blog {
        flex-direction: column;
        align-items: center;
        gap: 5.5rem;
        padding-top: 5rem;
    }
    .blog-container {
        width: 100%;
        height: 145rem;
        gap: 7rem;
    }
    .cards-blog {
        width: 87rem !important;
        height: 54rem;
    }
    .details {
        gap: 4rem;
        padding: 4rem;
    }
    .position-aws {
        width: 45rem;
        height: 24rem;
    }
    .link-blog {
        font-size: 3.5rem;
    }
    .date-blog {
        font-size: 3.2rem;
    }
    .fade-2 {
        top: 20rem;
        width: 40rem;
        height: 120rem;
    }
}

@media screen and (max-width: 375px) {
    .cards-blog {
        width: 86rem !important;
        height: 54rem;
    }
}
