@font-face {
    font-family: 'Ember Mono';
    font-family: 'Ember Display';
    src: url('../font/Amazon\ Ember\ Mono.ttf') format('truetype');
    src: url('../font/Amazon\ Ember\ Display.otf') format('truetype');
}


nav {
    position: relative;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.wraper-nav {
    width: 78.93rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 7.5rem;
    height: 45rem;
    position: relative;
    z-index: 2;
}

.conf-link {
    font-size: 1.1rem;
}

@media screen and (max-width: 450px) {
    .wraper-nav {
        gap: 3rem;
    }

    .conf-link {
        font-size: 3.5rem;
    }
}

.nav-top {
    display: flex;
    padding: 1.5rem 3rem 0;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 450px) {
    .nav-top{
        padding: 6rem 1rem 0;
    }
}

.nav-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2rem;

}

@media screen and (max-width: 450px) {
    .nav-bottom {
        flex-direction: column;
        gap: 7rem;
    }
}

.logo-principal {
    width: 27rem;
    height: 20rem;
    margin-left: 5rem;
}

@media screen and (max-width: 450px) {
    .logo-principal {
        width: 80rem !important;
        height: 60rem !important;
        margin-left: 0rem;
    }
}

.content-card {
    height: 16rem;
    width: 29rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border: #7200e3 1px solid;
    padding: 1.5rem 3.2rem 1.3rem 1.3rem;

}

.content-card__title {
    color: #7200e3;
    font-weight: 700;
    font-size: .7rem;
    letter-spacing: .3rem;
    font-family: 'Ember Mono';
}

.content-card__subtitle {
    color: white;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: .1rem;
    font-family: 'Ember Display';
}

.content-card__paragraphe {
    color: white;
    font-weight: 500;
    font-size: 1rem;
    font-family: "Ember Display";
}

.card__button {
    position: relative;
    width: 4.3rem;
    padding-bottom: .5rem;
    background-color: transparent;
    font-family: 'Ember Display';
    font-size: 1.1rem;
    color: white;
    border: none;
}

@media screen and (max-width: 450px) {
    .content-card {
        height: 40rem !important;
        width: 65rem !important;
        padding: 7rem 10rem 1.3rem !important;
        gap: 4.4rem;
    }

    .content-card__title {
        font-size: 2.7rem !important;
    }

    .content-card__subtitle {
        font-size: 3rem !important;
    }

    .content-card__paragraphe {
        font-size: 2.8rem !important;
    }

    .card__button {
        font-size: 2.7rem !important;
        width: 12.3rem !important;
        padding-bottom: 2rem !important;
    }
}

.card__button:hover {
    padding-bottom: .2rem;
    transition: .1s;
}

.card__button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #7200e3;
    transition: background-color 0.5s linear;
}

.card__button:hover::after {
    background-color: rgb(16, 168, 118);
    transition-delay: 0.1s;
}

.card__button:hover::after {
    background-color: rgb(210, 255, 11);
    transition-delay: 0.2s;
}

.card__button:hover::after {
    background-color: rgb(89, 16, 156);
    transition-delay: 0.3s;
}

.card__button:hover::after {
    background-color: rgb(255, 94, 0);
    transition-delay: 0.4s;
}

@media screen and (max-width: 768px) {
    .wraper-nav {
        width: 85rem;
        height: 50rem;
    }

    .logo-principal {
        width: 34rem;
        height: 27rem;
    }

    .content-card {
        height: 24rem;
        width: 29rem;
        padding: 5rem 3.2rem 1.3rem 3.2rem;
    }

    .content-card__title {
    font-size: 1.1rem;
    letter-spacing: .3rem;
    font-family: 'Ember Display';
    }

    .content-card__subtitle {
        color: white;
        font-weight: 600;
        font-size: 1.7rem;
        letter-spacing: .1rem;
        font-family: 'Ember Display';
    }

    .content-card__paragraphe {
        color: white;
        font-weight: 600;
        font-size: 1.5rem;
        font-family: 'Ember Display';
    }

    .card__button {
        position: relative;
        width: 7.2rem;
        padding-bottom: .5rem;
        background-color: transparent;
        font-family: 'Ember Display';
        font-weight: 600;
        font-size: 1.7rem;
        color: white;
        border: none;
    }
}