@font-face {
    font-family: 'Ember Mono';
    font-family: 'Ember Display';
    src: url('../font/Amazon\ Ember\ Mono.ttf') format('truetype');
    src: url('../font/Amazon\ Ember\ Display.otf') format('truetype');
}

@import url('https://fonts.cdnfonts.com/css/itim');

body {
    overflow-x: hidden;
}



.loader {
    background: rgb(7, 15, 23);
    font-family: montserrat;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.ring {
    position: absolute;
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    animation: ring 2s linear infinite;;
}

@keyframes ring {
    0% {
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px #e65c00;
}
    50% {
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #18b201;
    }
    100% {
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #0456c8;
    }
}

.ring::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 05px rgba(255, 255, 255, .3);
}

.special-span {
    position: relative;
    display: inline-block;
    padding: 0 .1rem;
    animation: animate 3s alternate infinite;
    font-family: 'Itim', sans-serif;

}



@keyframes animate {
    0%
    {
        transform: translateY(0px) rotate(0deg);
    }
    40%
    {
        transform: translateY(0px) rotate(0deg);
    }
    50%
    {
        transform: translateY(-25px) rotate(180deg);
    }
    60%
    {
        transform: translateY(0px) rotate(360deg);
    }
    100%
    {
        transform: translateY(0px) rotate(360deg);
    }
}

/* .conf-link:hover .special-span {
    animation: animate 3s alternate infinite;
} */

.special-span:nth-child(1) {
    animation-delay: 0s;
}

.special-span:nth-child(2) {
    animation-delay: 0.2s;
}

.special-span:nth-child(3) {
    animation-delay: 0.6s;
}

.special-span:nth-child(4) {
    animation-delay: 0.9s;
}

.special-span:nth-child(5) {
    animation-delay: 0.3s;
}

.special-span:nth-child(6) {
    animation-delay: 0.1s;
}

.special-span:nth-child(7) {
    animation-delay: 0.4s;
}

.special-span:nth-child(8) {
    animation-delay: 0.9s;
}

.special-span:nth-child(9) {
    animation-delay: 1s;
}

.special-span:nth-child(10) {
    animation-delay: 0.2s;
}

.special-span:nth-child(11) {
    animation-delay: 0.6s;
}

.special-span:nth-child(12) {
    animation-delay: 0.7s;
}

.special-span:nth-child(13) {
    animation-delay: 0.8s;
}

.special-span:nth-child(14) {
    animation-delay: 0.1s;
}

.special-span:nth-child(15) {
    animation-delay: 0.4s;
}

.container-navigation {
    position: relative;
    max-height: 100vh;
    background-color: rgba(0, 0, 0, 0.244)
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    transform: translate3d(0, 0, 0);
background-color: rgba(0, 0, 0, 0.7)}

.wraper-nav {
    width: 80rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    gap: 7.5rem;
    height: 45rem;
    position: relative;
    z-index: 2;
}



.conf-link {
        font-size: 1.3rem;
}

@media screen and (max-width: 768px) {
    .conf-link {
        font-size: 1.9rem;
    }
}

@media screen and (max-width: 600px) {
    .conf-link {
        font-size: 2.9rem;
    }
}

@media screen and (max-width: 450px) {
    .conf-link {
        font-size: 3.6rem;
    }
}


/* @media screen and (max-width: 430px) and (max-height: 932px) {
    .conf-link {
        font-size: 5rem;
    }
} */

  

@media screen and (max-width: 450px) {
    .wraper-nav {
        gap: 3rem;
    }

    
}

.nav-top {
    width: 100%;
    position: fixed;
    padding-top: 10px;
    top: 0;
    height: 4.0625rem;
    background-color: transparent;
    z-index: 100;
}

.nav-top.scrolled {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.95);
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); */
    z-index: 9999;
    border-bottom: 1px solid gray;
    animation: slideInFromTop 0.3s ease-in-out;
    display: flex;
    align-items: center;
}

.side-image {
    position: absolute;
    top: -8px;
    left: 80px;
    width: 102px;
    height: 40px;
}

@media screen and (max-width: 1024px) {
    .side-image {
        top: -7px;
        left: 70px;
        width: 90px;
        height: 35px;
    }
    .nav-top.scrolled {
        height: auto;
    }
}

@media screen and (max-width: 600px) {
    .side-image {
        display: none;
    }
    .nav-top.scrolled {
        height: auto;
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.wraper-nav-top {
    position: relative;
    width: 75rem;
    display: flex;
    justify-content: space-between;
    margin: 1.3rem auto;
    z-index: 9999;
}

@media screen and (max-width: 1024px) {
    .wraper-nav-top {
        margin: 1.6rem auto;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .wraper-nav-top {
        z-index: 9;
    }
}

.cont-bar {
    z-index: 9999;
}

@media screen and (max-width: 450px) {
}

.nav-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2rem;

}

@media screen and (max-width: 450px) {
    .nav-bottom {
        flex-direction: column;
        gap: 7rem;
    }
}

.logo-principal {
    width: 50rem;
    height: 35rem;
    margin-left: 5rem;
}

@media screen and (max-width: 450px) {
    .logo-principal {
        width: 80rem !important;
        height: 45rem !important;
        margin-left: 0rem;
    }
}

.content-card {
    height: 16rem;
    width: 29rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border: #ffffff 1px solid;
    padding: 1.5rem 3.2rem 1.3rem 1.3rem;

}

.content-card__title {
    color: #91bfff;
    font-weight: 700;
    font-size: 1.26rem;
}

.content-card__subtitle {
    color: white;
    font-weight: 600;
    font-size: .93rem;
    font-family: 'Ember Display';
}

.content-card__paragraphe {
    color: white;
    font-weight: 500;
    font-size: 1rem;
    font-family: "Ember Display";
}

.card__button {
    position: relative;
    padding-bottom: .5rem;
    background-color: transparent;
    font-family: 'Ember Display';
    font-size: 1.1rem;
    color: white;
    border: none;
}

@media screen and (max-width: 450px) {
    .content-card {
        height: 50rem !important;
        width: 65rem !important;
        padding: 7rem 10rem 1.3rem !important;
        gap: 4.4rem;
    }

    .content-card__title {
        font-size: 2.7rem !important;
    }

    .content-card__subtitle {
        font-size: 3rem !important;
    }

    .content-card__paragraphe {
        font-size: 2.8rem !important;
    }

    .card__button {
        font-size: 2.7rem !important;
        width: 12.3rem !important;
        padding-bottom: 2rem !important;
    }
}

.card__button:hover {
    padding-bottom: .2rem;
    transition: .1s;
}

.card__button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #91bfff;
    transition: background-color 0.5s linear;
}

.card__button:hover::after {
    background-color: rgb(16, 168, 118);
    transition-delay: 0.1s;
}

.card__button:hover::after {
    background-color: rgb(210, 255, 11);
    transition-delay: 0.2s;
}

.card__button:hover::after {
    background-color: rgb(89, 16, 156);
    transition-delay: 0.3s;
}

.card__button:hover::after {
    background-color: rgb(1, 82, 158);
    transition-delay: 0.4s;
}

@media screen and (max-width: 768px) {
    .wraper-nav {
        width: 85rem;
        height: 50rem;
    }

    .logo-principal {
        width: 34rem;
        height: 27rem;
    }

    .content-card {
        height: 24rem;
        width: 29rem;
        padding: 5rem 3.2rem 1.3rem 3.2rem;
    }

    .content-card__title {
    font-size: 1.1rem;
    letter-spacing: .3rem;
    font-family: 'Ember Display';
    }

    .content-card__subtitle {
        color: white;
        font-weight: 600;
        font-size: 1.7rem;
        letter-spacing: .1rem;
        font-family: 'Ember Display';
    }

    .content-card__paragraphe {
        color: white;
        font-weight: 600;
        font-size: 1.5rem;
        font-family: 'Ember Display';
    }

    .card__button {
        position: relative;
        width: 7.2rem;
        padding-bottom: .5rem;
        background-color: transparent;
        font-family: 'Ember Display';
        font-weight: 600;
        font-size: 1.7rem;
        color: white;
        border: none;
    }
}


.menu-open {
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 1;
    background-color: rgba(2, 14, 31, 0.582);
    color: white;
    backdrop-filter: blur(1rem);
    padding-left: 2rem;
}

.wrapper-container {
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 2fr;
    align-items: center;
    justify-items: center;
    width: 75rem;
    gap: 4rem;
}

@media screen and (max-width: 768px) {
    .wrapper-container {
        grid-template-columns: 1fr;
        grid-template-rows: 30% 55%;
        justify-items: center;
    }
    .logo-show {
        display: none;
    }
    .show-menu_wrapper {
        padding-top: 0 !important;
        row-gap: 6rem !important;
        width: 100%;
    }
    .show-menu_wrapper li{
        border-bottom: 1px solid gray;
    }
    .show-menu_items {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 600px) {
    .logo-show {
        display: none;
    }
    .show-menu_wrapper {
        padding-top: 0 !important;
        row-gap: 7rem !important;
        width: 100%;
    }
    .show-menu_wrapper li{
        border-bottom: 1px solid gray;
    }
    .show-menu_items {
        font-size: 2.5rem;
    }
    .wrapper-container {
        gap: 5rem;
    }
    
}

/* @media screen and (max-width: 430px) and (max-height: 932px) {

    .show-menu_wrapper {
        padding-top: 0 !important;
        row-gap: 20rem !important;
        width: 100%;
    }
    .show-menu_wrapper li{
        border-bottom: 1px solid gray;
    }
    .show-menu_items {
        font-size: 9rem;
    }
} */

@media screen and (max-width: 450px) {
    .logo-show {
        display: none;
    }
    .show-menu_wrapper {
        padding-top: 0 !important;
        row-gap: 18rem !important;
        width: 100%;
    }
    .show-menu_wrapper li{
        border-bottom: 1px solid gray;
    }
    .show-menu_items {
        font-size: 5.1rem;
    }
    .wrapper-container {
        gap: 5.9rem;
    }
}

@media screen and (max-width: 425px) {
    .logo-show {
        display: none;
    }
    .show-menu_wrapper {
        padding-top: 0 !important;
        row-gap: 13rem !important;
        width: 100%;
    }
    .show-menu_wrapper li{
        border-bottom: 1px solid gray;
    }
    .show-menu_items {
        font-size: 4.3rem;
    }
}

@media screen and (max-width: 375px) {
    .logo-show {
        display: none;
    }
    .show-menu_wrapper {
        padding-top: 0 !important;
        row-gap: 15rem !important;
        width: 100%;
    }
    .show-menu_wrapper li{
        border-bottom: 1px solid gray;
    }
    .show-menu_items {
        font-size: 5rem;
    }
}

.menu-closed {
    display: grid;
    opacity: 0;
    /* Establece la opacidad a 0 para ocultar suavemente el menú */
    height: 0;
    /* Ajusta la altura a 0 para ocultar suavemente el menú */
    transition: opacity 0.3s, height 0.3s;
    /* Aplica transiciones a opacidad y altura */
}

.container-menu_show {
    display: flex;
    flex-direction: column;
    width: 75%;
    box-sizing: border-box;
    padding-top: 1.2rem;
    
}

.color-special {
    color: #F7981D;
}

@media screen and (max-width: 768px) {
    .container-menu_show {
        align-items: center;
        padding-top: 6rem;
        width: 90%;

    }
    .top-text {
        font-size: 3rem !important;
    }
    .desc-text{
        font-size: 1.7rem !important;
        text-align: center !important;
    }
    
}

@media screen and (max-width: 600px) {
    .container-menu_show {
        padding-top: 6rem;
    }
    .top-text {
        font-size: 4rem !important;
    }
    .desc-text{
        font-size: 1.8rem !important;
        text-align: center !important;
    }
    
}

/* @media screen and (max-width: 430px) and (max-height: 932px) {
    .container-menu_show {
        padding-top: 26rem !important;
    }
    .top-text {
        font-size: 7.2rem !important;
    }
    .desc-text{
        font-size: 4rem !important;
        text-align: center !important;
    }
}
 */
 
 @media screen and (max-width: 450px) {
    .container-menu_show {
        padding-top: 17rem !important;
    }
    .top-text {
        font-size: 7rem !important;
    }
    .desc-text{
        font-size: 3rem !important;
    }
    
}


@media screen and (max-width: 425px) {
    .container-menu_show {
        padding-top: 11rem !important;
    }
    .top-text {
        font-size: 4.7rem !important;
    }
    .desc-text{
        font-size: 2.3rem !important;
        text-align: center !important;
    }
    
}

@media screen and (max-width: 375px) {
    .container-menu_show {
        padding-top: 9rem !important;
    }
    .top-text {
        font-size: 5rem !important;
    }
    .desc-text{
        font-size: 2.9rem !important;
        text-align: center !important;
    }
    
}


.top-text {
    font-family: 'Ember Display';
    font-size: 2.5rem;
    border-bottom: 1.5px solid #cf7c10;
    padding-bottom: 1rem;
}

.desc-text{
    font-family: 'Ember Display';
    text-align: justify;
    padding-top: 2.5rem;
}

.show-menu_wrapper {
    width: 85%;
    display: flex;
    flex-direction: column;
    padding-top: 8rem;
    row-gap: 2rem;
    position: relative;
}


.nav-blurred {
  filter: blur(5px); /* Ajusta el valor de desenfoque según tus preferencias */
  transition: filter 0.3s; /* Agrega una transición suave para el efecto */
}

.show-menu_items {
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: .34rem;
}

.show-menu_items:hover {
    color: rgb(49, 162, 214);
    transition: ease .3s;
}

.logo-show {
    width: 30rem;
    padding: 0 4rem;
}

.menu-closed {
    display: none;
}