.parallax {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
    background: linear-gradient(180deg, #0b0d4e, #072972);
}

@media screen and (max-width: 768px) {
    .special-text {
        font-size: 4.3rem !important;
    }
    .special-text-2 {
        font-size: 2.5rem !important;
    }
}

.container-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.special-text {
    font-size: 3rem;
    color: #01324e;
    z-index: 3;

}

.special-text-2 {
    font-size: 1.7rem;
    color: #ffffff;
    z-index: 3;
    font-weight: bold;
}

.mountains {
    background:linear-gradient(rgba(173, 173, 173, 0.507), rgba(1, 29, 56, 0.637)),
     url('../images/MACHU\ PICCHU\ 02.jpg');
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.planets {
    /* background-image: url('../images/planets.png'); */
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
}

.stars {
    background-image: url('../images/stars.jpg');
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    overflow: hidden;
}