@import url('https://fonts.cdnfonts.com/css/itim');
@import url('https://fonts.cdnfonts.com/css/grandiflora-one');


.parallax {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .special-text {
        font-size: 4.3rem !important;
    }
    .special-text-2 {
        font-size: 2.5rem !important;
    }
}

.container-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 9rem;
    gap: 1rem;
}

.special-text {
    font-size: 3.5rem;
    color: rgb(31, 99, 189);
    z-index: 3;
    transition: ease-in .3s;
    font-family: 'Itim', sans-serif;
    font-weight: 600;     
}

.special-text:hover {
    color: rgb(42, 171, 180);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'Itim', sans-serif;
}

.special-text-2 {
    font-size: 1.7rem;
    color: #ffffff;
    z-index: 3;
    font-weight: bold;
    font-family: 'Itim', sans-serif;
}

.mountains {
    /* background:linear-gradient(rgba(28, 70, 34, 0.75), rgba(0, 42, 85, 0.589)),
     url('../images/machu-picchu-new.jpg'); */
    background: linear-gradient(rgba(35, 59, 55, 0.75), rgba(2, 21, 39, 0.589)),
    url('../images/escaleras.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}


/* Medias */

@media screen and (max-width: 768px){
    .special-text {
        font-size: 5rem !important;
    }
    
    .special-text-2 {
        font-size: 3rem !important;
    }
}

@media screen and (max-width: 600px){
    .special-text {
        font-size: 5.3rem !important;
    }
    
    .special-text-2 {
        font-size: 3.5rem !important;
    }
}

@media screen and (max-width: 425px){
    .special-text {
        font-size: 6.5rem !important;
    }
    
    .special-text-2 {
        font-size: 4.5rem !important;
    }
}



/* .stars {
    background-image: url('../images/top-machu.png');
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    overflow: hidden;
} */