.wrap {
  background-color: #00040C;
}

.parameters-wrap {
    width: 75rem;
    margin: 0 auto;
    height: 38rem;
    color: white;
    display: flex;
    padding: 4rem 0;
}

.metricas {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-parameters {
  font-size: 40px;
  padding-right: 9rem;
}

.statistics {
  display: flex;
  gap: 2rem;
}

.big-letter {
  font-size: 40px;
}

.detail-percentage {
  color: #8b949e;
}

.percentages {
  width: 227px;
  height: 200px;
  padding: 2rem;
  background-color: #0c0f14;
  border-radius: 20px; /* Ajusta este valor para redondear las esquinas */
  position: relative; /* Necesario para posicionar correctamente el pseudo-elemento */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.percentages::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px; /* Debe coincidir con el border-radius del div */
  padding: 2px; /* Ajusta este valor para el grosor del borde */
  background: linear-gradient(90deg, #392E6E, #184051, #392E6E, #184051);
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude; /* Para soportar Firefox */
}

.percentages {
  background-clip: padding-box; /* Asegura que el fondo del div no se superponga al borde */
}

.solutions {
    position: relative;
    padding-left: 30px;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
  }
  
  .solutions::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    width: 2px;
    background: #333;
  }

  .solutions-containers {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  
  .solutions-containers h2 {
    position: relative;
    padding-left: 10px;
  }
  
  .solutions-containers h2::before {
    content: '';
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background: #333;
    border-radius: 50%;
  }
  

  .solutions-containers p {
    color: #8b949e;
  }