.parallax {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: linear-gradient(180deg, #111132, #0c0c1d);
}

.container-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.special-text {
    font-size: 3rem;
    color: #114068;
    z-index: 3;
}

.special-text-2 {
    font-size: 1.6rem;
    color: #114068;
    z-index: 3;
}

.mountains {
    background-image: url('../images/mountains.png');
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
}

.planets {
    background-image: url('../images/planets.png');
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
}

.stars {
    background-image: url('../images/stars.png');
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    overflow: hidden;
}