section {
    height: 100vh;
    scroll-snap-align: center;
    background-color: #0c0c1d;
    color: white;
    display: flex;
    justify-content: center;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

@media screen and (max-width: 768px) {
    section {
        display: flex;
        flex-direction: column;
    }
    .wrapper {
        flex-direction: column;
    }
    .img {
        width: 100% !important;
        height: 40rem !important;
    }
    .textContainer {
        flex: inherit !important;
        align-items: center;
        justify-content: center;
    }
    .textContainer h2 {
        font-size: 3.6rem;
    }
    .textContainer p {
        text-align: center !important;
        font-size: 1.5rem;
    }
}

.about {
    background-color: #0c0c1d;
        position: relative;
}

.progress{
    /* position: sticky;
    top: 0;
    left: 0; */
    padding: 5rem 4rem 0 4rem;
    text-align: center;
    color: #f7981d;
    font-size: 2rem;
    z-index: 2;
}

.explore {

}

.progressBar {
    margin-top: .5rem;
    height: 0.3rem;
    background-color: #262f7e;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50rem;
    overflow: hidden;
}
.wrapper {
        width: 80rem;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.125rem;
}

.imageContainer {
    flex: 1;
    height: 50%;
}

.img {
    width: 40rem;
    height: 100%;
    object-fit: cover;
}

.textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.8754rem;
    z-index: 0;
}

.textContainer h2{
    font-size: 3.4rem;
}

.textContainer p{
    text-align: justify;
}

.textContainer {

}